* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  .demo{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.8vw;
    margin-top: 2vw;
}
  .container {
    display: flex;
    flex-direction: row;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 70vw;
    box-shadow: 0.1vw 0.1vw 0.3vw rgba(0, 0, 0, 0.1);
    border-radius: 0.5vw;
    padding: 2vw;
    margin-top: 1vw;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .items{
    width: 100%;
    height: 3vw;
    font-size: 1.5vw;
    border-radius: 0.5vw;
    border: 2px solid #c4c4c4;
    box-sizing: border-box;
    color: #a5a4a4;
    outline: none;
    padding: 2px 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
  .title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  form div input {
    width: 100%;
    height: 3vw;
    border-radius: 8px;
    font-size: 1.5vw;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    text-transform: capitalize;
  }
  #pasport{
    text-transform: uppercase;
  }
  #pasport::placeholder{
    text-transform: capitalize;
  }
  #diplom_rasm{
    padding-top: 0.1vw;
    font-size: 1.28vw;
  }
  #rasm{
    padding-top: 0.11vw;
    font-size: 1.28vw;
  }
  #pasport_rasm{
    padding-top: 0.11vw;
    font-size: 1.28vw;
  }
  @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=M+PLUS+Rounded+1c:wght@800&family=Old+Standard+TT&family=Poppins:ital,wght@0,300;0,500;1,400&family=Road+Rage&family=Roboto&display=swap');
  label {
    display: block;
    margin-bottom: 0.1vw;
    font-size: 1.5vw;
    font-family: 'Indie Flower', cursive;
    color: #5f2121;
  }
  form div {
    position: relative;
    margin-top:  -1vw;
  }
  input:focus {
    border: 2px solid #f2796e;
  }
  .text{
    margin-top: -1.5vw;
  }
  .text h4{
    color: #c57972;
  }
  .text h6{
    color: #b6665f;
  }
  .or {
    text-align: center;
  }
  .question {
    font-size: 15px;
  }
  
  span {
    color: #f2796e;
    cursor: pointer;
  }
  form div i {
    position: absolute;
    padding: 10px;
  }
  .success-icon,
  .failure-icon {
    right: 0;
    opacity: 0;
  }
  .failure-icon,
  .error {
    color: red;
  }
  .success-icon {
    color: green;
  }
  .error {
    font-size: 14.5px;
    margin-top: 5px;
  }
  button {
    width: 100%;
    height: 45px;
    background-color: #f2796e;
    border: 2px solid #f2796e;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
  }
  #submit{
    height: 3vw;
    border-radius: 0.5vw;
    margin-top: 2.4vw;
  }
  button:hover {
    opacity: 0.8;
  }
  @media (max-width: 900px) {
    .container {
      flex-direction: column;
    }
    form,
    .content {
      width: 100%;
    }
    .btn {
      flex-direction: column;
    }
    .image {
      height: 70vh;
    }
  }
  @media (max-width: 425px) {
    form {
      padding: 20px;
    }
   
  }
  @media screen and (max-width: 576px) {
    .demo{
      display:grid;
    grid-template-columns: 1fr;
    /* grid-gap: 1.8vw; */
    /* margin-top: 2vw; */
    }
    form {
      display: flex;
      flex-direction: column;
      width: 60vw;
      box-shadow: 0.1vw 0.1vw 0.3vw rgba(0, 0, 0, 0.1);
      border-radius: 0.5vw;
      padding: 2vw;
      margin-top: 1vw;
    }
    form div input {
      /* width: 100%; */
      height: 4vw;
      border-radius: 8px;
      font-size: 1.5vw;
      outline: none;
      border: 2px solid #c4c4c4;
      padding: 0 20px;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
      text-transform: capitalize;
      margin-top: -2vw;
    }
    #submit{
      height: 5vw;
      border-radius: 0.5vw;
      margin-top: 2.4vw;
    }
    .failure-icon,
  .error {
    color: red;
    font-size: 1vw;
  }
  .items{
    width: 100%;
    height: 4vw;
    font-size: 1.5vw;
    border-radius: 1.5vw;
    border: 2px solid #c4c4c4;
    box-sizing: border-box;
    color: #a5a4a4;
    outline: none;
    padding: 2px 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
form div {
  position: relative;
  margin-top:  -3vw;
}
#diplom_rasm{
  padding-top: 0.1vw;
  font-size: 0.7vw;
}
#rasm{
  padding-top: 0.1vw;
  font-size: 0.7vw;
}
#pasport_rasm{
  padding-top: 0.1vw;
  font-size: 0.7vw;
}
  }
  
  /* @media screen and (max-width: 765px) {
    div.example {
      font-size: 30px;
    }
  } */
  
  